/* CSS Variables */

#banner {
  margin: 0 auto;
  max-width: 1140px;
  margin-top: 20px;
}

.logo {
  margin: 20px;
  float: left;
  width: 130px;
  height: 60px;
  padding-bottom: 20px;
}

#container {
  margin: 20px 0;
  width: 300px;
  position: relative;
  left: 50%;
  margin-left: -150px;
  background: #fff;
}

img {
  max-width: 100%;
  height: auto;
  width: auto;
}

section {
  width: 29%;
  float: left;
  margin: 2% 2%;
  text-align: center;
}

ul {
  list-style-type: none;
}

ul.eat li {
  padding-left: 13%;
}

h3, h1 {
  text-align: center;
  margin-top: 100px;
}

.veg {
  padding: 20px 20px 20px 20px;
  max-width: 100%;
  height: auto;
  width: auto;
  display: center;
}

#favorite-links li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

#favorite-links li:last-child {
  border: none;
}

#favorite-links a {
  color: #333;
  text-decoration: none;
}

#favorite-links li:hover {
  background: #ccc;
}

#add-link-form {
  display: none;
  background: #444;
  padding: 20px;
  color: #ccc;
}

#add-link-form input {
  margin: 5px 0;
  width: 250px;
  color: #333;
  padding: 5px;
  outline: none;
  border: none;
}

#new-link-button button, #add-link-form button {
  margin: 10px 0;
  background: #e74c3c;
  border: none;
  color: #fff;
  padding: 5px 15px;
  width: 100%;
  height: 35px;
}

.picture-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  justify-items: center;
  grid-column-gap: 5px;
}

.grid-box img {
  width: 100%;
}

/* Media Queries */

@media screen and (max-width: 1139px) {
  #banner {
    width: 100%;
  }
  section {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}